[submodule "zsh/prezto"]
    path = zsh/prezto
    url = git@github.com:DukeXar/prezto.git
    ignore = dirty
[submodule "dircolors-solarized"]
    path = dircolors-solarized
    url = https://github.com/seebi/dircolors-solarized
